.topnav{
    background-color: aqua;
}

.topnav ul{
    overflow: auto;
}

.topnav ul li{
    list-style: none;
    float: left;
}

.topnav ul li a img{
    margin-right: 0%;
    margin-left: 0%;
}

#home{
    display: block;
    width: 2%;
    height: 2%;
}